/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #f9f6f2;
    color: #333;
  }
  
  /* Header */
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    max-width: 250px;
    height: auto;
  }

  header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    width: 100%;
}

/* Navigation*/
header nav {
    display: flex;
    align-items: center;
    gap: 25px;
}

header nav a {
    color: #2a472e;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}

/* Search Bar */
.search-container {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.search-bar {
  border: 2px solid #2a472e;
  border-radius: 50px;
  padding: 8px 20px;
  font-size: 1rem;
  width: 250px;
  outline: none;
  background-color: #f9f6f2;
}

.search-bar::placeholder {
  color: #888;
}

.search-btn {
  border: none;
  padding: 10px;
  margin-left: 10px;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
}

.search-btn img {
  width: 20px;
  height: 20px;
}
  
  
  .care-content {
    padding: 40px;
    text-align: center;
  }
  
  .care-grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .care-item {
    width: 30%;
    text-align: center;
  }
  
  .care-item a {
    text-decoration: none;
    color: #333;
  }
  
  .care-item img {
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 8px;
  }
  
  .care-item p {
    margin-top: 10px;
    font-size: 1.1rem;
    color: #333;
    font-weight: bold;
  }
  
 /* Footer*/
footer {
  background-color:#3e3e3e ;
  color: #fff;
  text-align: center;
  padding: 20px;
  width: 100%;
}

footer .social-media {
  margin-top: 10px;
}

footer .social-media a {
  margin: 0 15px;
  display: inline-block;
}

footer .social-media img {
  width: 30px;
  height: 30px;
}